@CHARSET "UTF-8";

body{
	background-image: url(../img/background.jpg); no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	font-family: miFuente;
	color: white;
	
}

	@font-face {
		 font-family: 'miFuente';
		 src: url('fonts/8-BIT WONDER.ttf');
	}

		a:link{ color: white; text-decoration: none}

a:active{ color: white; text-decoration: none}

a:visited{ color: white; text-decoration: none}

a:hover{ color: white; text-decoration: underline}


#tablaScroll {
	 background-image: url("../assets/starfield.png");
     overflow-x:hidden;
     overflow-y:scroll;
     height:500px;
     width:auto;
}


.container {
	width: 996px;
	margin: 0px auto;
	font-size: 1em;
	text-align: center;
}

section, aside {
	padding: 10px;
	background-image: url("../img/star.jpg");
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
}

section {
	float: left;
	width: 50%;
}


section #tablaView {
	float: left;
	width: 70%;
}


aside {
	float: right;
	width: 35%;
}

nav {
	overflow: hidden;
}

nav ul {
	list-style-type: none;
	float: left;
	padding: 0px;
}

nav ul li {
	float: left;
	padding: 3px 10px;
	margin: 2px;
	background-image: url("../img/star.jpg");
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	

}

footer {
	margin: 10px;
	text-align: center;
	clear: both;
}

/* para 980px o menos */
@media screen and (max-width:980px) {
	.container {
		width: 98%;
	}
	section {
		width: 68%;
	}
}

/* para 700px o menos */
@media screen and (max-width:700px) {
	aside, section {
		float: none;
		width: 96%;
	}
	img {
		height: auto;
		width: 70%;
	}
	nav, section {
		font-size: 1.2em;
	}
	aside {
		margin-top: 5px;
	}
	nav ul {
		float: none;
		clear: both;
	}
}

/* para 480px o menos pru */
@media screen and (max-width:480px) {
	aside {
		
	}
	nav, section {
		font-size: 1.5em;
	}
	section {
		width: 94%;
	}
	nav ul {
		float: left;
		clear: none;
		width: 50%;
	}
	nav ul li {
		float: none;
	}
}

.headerCode {
	background-color: #555;
	overflow: hidden;
	clear: both;
	margin-top: 0 auto;
	padding: 10px;
	overflow: hidden;
	text-align: center;
}

.publi_belowForms {
	clear: both;
	margin-top: 10px;
	overflow: hidden;
	text-align: center;
}

