@CHARSET "UTF-8";

* {
	font-size: 14px;
}

body {
	background-image: url(../img/background.jpg);
		-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

@font-face {
	font-family: 'miFuente';
			  src: url('fonts/silkscreen_bold_macroman/slkscrb-webfont.eot');
    src: url('fonts/silkscreen_bold_macroman/slkscrb-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/silkscreen_bold_macroman/slkscrb-webfont.woff') format('woff'),
         url('fonts/silkscreen_bold_macroman/slkscrb-webfont.ttf') format('truetype'),
         url('fonts/silkscreen_bold_macroman/slkscrb-webfont.svg#silkscreenbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

form.login {
	background: none repeat scroll 0 0 #F1F1F1;
	border: 1px solid #DDDDDD;
	font-family: miFuente;
	margin: 0 auto;
	padding: 20px;
	width: 278px;
	box-shadow: 0px 0px 20px black;
	border-radius: 10px;
}

form.login div {
	margin-bottom: 15px;
	overflow: hidden;
}

form.login div label {
	display: block;
	float: left;
	line-height: 25px;
}

form.login div input[type="text"], form.login div input[type="password"]
	{
	border: 1px solid #DCDCDC;
	float: right;
	padding: 4px;
}

form.login div input[type="submit"] {
	background: none repeat scroll 0 0 #DEDEDE;
	border: 1px solid #C6C6C6;
	float: right;
	font-weight: bold;
	padding: 4px 20px;
}

.error {
	font-family: miFuente;
	color: red;
	font-weight: bold;
	margin: 10px;
	text-align: center;
}

		a:link{ color:#e580fff0; text-decoration: none}

a:active{ color:  #e580fff0; text-decoration: none}

a:visited{ color:  #e580fff0; text-decoration: none}

a:hover{ color:  #e580fff0; text-decoration: underline}